<!DOCTYPE html>
<html>
<head>
<style>
.header {
  background-color: #f2f2f2;
  padding-top: 10px;
  margin: 0px;
  text-align: center;
  color: #63aba8;
  font-family: "verdana";
}

.description {
	font-family: "verdana";
	color: #565656;
	font-size: 14px;
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 50px;
}


div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5px;
} 

a {
	text-align: center;
	font-family: "verdana";
}
</style>
<title>F.A.T.E. Project</title>
</head>
<body style="background-color: #f2f2f2">

<h1 class="header">About F.A.T.E.</h1>

<div>
	<p class="description">Some sort of description and instructions.</p>
</div>

<div style="text-align: center">
	<a href="/home">Begin Survey</a>
</div>

</body>
</html>